
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

table {
    font-size: 100%;
}

div.screen,
div.popup>div {
    width: 600px;
    margin: 30px auto 50px auto;
    border: 2px solid #ccc;
    background: #EEE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 17px 3px rgb(0 0 0 / 30%);
}

div.screen {
    display: none;
}

div.drop {
    background-color: rgb(32, 218, 171);
}

div#screen-progress {
    height: 350px;
    max-height: 350px;
    overflow: auto;
}

div#screen-progress>div {
    margin: 4px;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    padding: 7px 20px;
    background: #FFF;
}

div.progress-bar {
    height: 10px;
    width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px 1px rgb(0 0 0 / 25%);
    margin: 5px 0px 5px 12px;
}

div.progress-bar>div {
    background-color: #6daeff;
    height: 10px;
    border-radius: 5px;
}

div#screen-options {
    height: 360px;
    overflow: auto;
}

a.button-big,
a.button-small {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 1px solid #006c97;
    background: #0085ba;
    color: #111;
    text-shadow: 0px 0px 4px #000;
    color: #FFF
}

a.button-big {
    margin: 10px;
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 120%;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 2px rgb(0 0 0 / 25%), inset 0px 0px 3px 0px rgba(255, 255, 255, 0.6);
}

a.button-small {
    font-size: 80%;
    margin: 1px 4px;
    padding: 4px 10px;
    border-radius: 6px;
    width: 150px;
    box-shadow: 0px 7px 10px -7px #000000, 0px 0px 6px rgb(0 0 0 / 25%), inset 0px 0px 3px 0px rgb(255 255 255 / 60%);
}

a.button-big:hover, a.button-small:hover {
    background: #20a1d4;
}

table.details {
    width: 100%;
}

table.details td {
    text-align: center;
}

table.details tr:nth-child(3n+1) td {
    font-size: 80%;
    color: #666;
}

#drop-area {
    border: 4px dashed #CCC;
    width: 85%;
    height: 50px;
    margin: 40px auto;
    padding-top: 19px;
    color: #999;
    font-size: 130%;
}

h1 {
    color:#006c97;
}

#current-wpd-version, #new-wpd-version {
    font-weight: bold;
}

div.popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5000;
    display: none;
}

input.text-input {
    font-family: monospace;
    border: 1px solid #CCC;
    padding: 5px;
    margin: 0px;
    width: 100%;
}

#releases-list a {
    text-decoration: none;
    color: #004b69;
    padding: 1px 3px;
}

#releases-list a:hover {
    background-color: #0085ba;
    color: #FFF;
}

.version-panel, .major-version-panel {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #FFF;
    margin: 3px 0px;
    padding: 3px 6px;
}

.minor-version-panel {
    overflow-y: scroll;
    overflow-x: auto;
    height: 200px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #FFF;
    margin: 3px 0px;
    padding: 3px 6px;
}

#language-list {
    overflow-y: scroll;
    overflow-x: auto;
    height: 270px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #FFF;
    margin: 3px 0px;
    padding: 3px 6px;
}

.lang-select, .lang-select-eng, .reg-select, .reg-select-eng {
    display: inline-block;
    padding: 4px;
}

.lang-select { font-size: 80%; color: #888; }
.lang-select-eng { color: #000; }
.reg-select { font-size: 60%; color: #888; }
.reg-select-eng { color: #000; font-size: 80%; margin-left: 15px; }

#language-list a {
    display: block;
    background-color: #FFF;
    border: 1px solid #88F;
    margin: 4px;
    border-radius: 4px;
}

#language-list a:hover {
    display: block;
    background-color: rgb(189, 189, 255);
    border: 1px solid rgb(100, 100, 255);
}
